body{
  background-color: aqua;
}
h1 {
  color: blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: crimson;
}
h2{
  color: green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aqua;
}
p{
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: coral;
}